* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.logo {
    width: 15%;
}
.chevron {
    width: 10%;
}
.glass-icon {
    font-size: 100%;
    vertical-align: baseline;
}
#time_icon {
    font-size: 100px;
}
.title {
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    font-weight: 700;
    text-align: center;
}
.link {
    margin-top: 5vh;
    display: flex;
    margin: 5% 33% 0 33%;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.search-btn {
    width: 3%;
    border-style: none
}
.search {
    background: rgba(43, 42, 42, 0.105);
    border-radius: 5px;
    margin-bottom: 3%;
    padding: 1% 2%;
}
.input-search {
    width: 96%;
    border: none;
    border-radius: 5%;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    color: rgba(43, 42, 42, 0.25);
    background: #E7E7E7;
    font-weight: 400;
    padding-left: 2vh;
}
#ingredients {
    background: #3282F7;
    border-radius: 5px;
}
#ustensils {
    background: #ED6454; 
    border-radius: 5px;
}
#appliances {
    background: #68D9A4;
    border-radius: 5px;
}
.dropdown-grp {
    gap: 2vw;
}
.dropdown-btn {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: white;
    width: 10vw;
    padding: 3%;
    font-size: 1.2vw;
}
#recipe_card {
    border-radius: 5px;
    background: #E7E7E7;
    padding: 0;
}
#img_card {
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}
